libatk1.0-0
libx11-xcb1
libnss3
libxcomposite1
libxcursor1
libxdamage1
libxfixes3
libxi6
libxrandr2
libgtk-3-0
libgbm1
libxext6
libxrender1
libxtst6
libglib2.0-0
libdbus-glib-1-2
libasound2
libatk-bridge2.0-0
libcups2
libxkbcommon0
libpangocairo-1.0-0
